# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.*

# Logs
*.log
logs/
log/

# Dependencies
node_modules/
venv/
__pycache__/

# Build outputs
dist/
build/
*.pyc

# System files
.DS_Store
Thumbs.db 